@import "../../variables";

.holder_hover {
   background-color: $--cool-gray;
   transform: translate(0, 42%);

   .drop_down_menu_element {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 0;
   }
   
   .drop_down_menu_element a:hover {
      color: $--hover-color;
   }
}