@import "../../variables";

.footer {
    background-color: $--dark2-background-color;
    display: flex;
    flex-direction: column;
    font-size: $--font-size-normal;
    
    // styling links 
    .footer_section_element, .footer_section_header, .footer_caption_element, .footer_caption_header, .footer_additional_text {

        &:hover, a:hover {
            color: $--hover-color;
        }
        
        color: $--font-color;
        text-decoration: none;
        //do usuniecia pozniej
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        // do usunicia pozniej
    }

    .footer_main {
        display: flex;
        padding: $--footer-padding-y;
        
        //styling everything in columns 
        .footer_column {
            //mam przeczucie ze te paddingi ponizej to nie jest dobre rozwiazanie
            padding-left: 1rem;
            padding-right: 6rem;        
        
            .footer_section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                .footer_section_header {
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: $--font-size-header;
                }
            }
        }
    }
    // text on bottom of footer is stled belowe
    .footer_bottom {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 1rem;

        .footer_caption {
            padding-right: 1rem;

            .footer_caption_element {
                padding: 0 1rem;
            }
        }
    }
}